// # primary Sass file
@charset "UTF-8";

// Config file and Sass variables
// @import "helpers/variables";

// Helpers
// @import "helpers/functions";
// @import "helpers/helpers";
@import "helpers/custom_spacing";

// Scaffolding
// @import "base/normalize";
// @import "base/base";
// @import "base/typography";

// Components
// @import "components/buttons"; 
// @import "components/navigation";

// Layouts
// @import "layout/grid"; 
// @import "layout/header";
// @import "layout/footer";
// @import "layout/forms";
// @import "layout/sidebar";

// Pages
@import "pages/home";
@import "pages/contact";

// Theme
@import "themes/theme";

// Vendor
@import "bootstrap/bootstrap";
@import "vendors/slick-slider";


/* CUSTOMIZE STYLES
-------------------------------------------------- */
body {
    padding: 0;
    margin: 0;
}
main {
    
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
    bottom: 3rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  