{% extends "./layouts/blank.twig" %}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block assets %}
	{{ parent() }}
{% endblock %}

{% block main %}
    <div class="loginpage">
        <div class="container">
            <form id="loginForm" class="col-12 col-md-6 col-lg-4 p-0 needs-validation" novalidate="" action="/" method="POST">
                <div class="form-group mb-2">
                    <input type="text" id="" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group mb-2">
                    <input type="password" id="" class="form-control" placeholder="Password" required>
                </div>
                <p class="invalid-feedback error_msg mb-2">Your account or password is incorrect. Please try again.</p>
                <div class="row">
                    <div class="col-6 pr-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember">
                            <label class="custom-control-label pl-1 font-small text-shadow" for="remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="col-6 pl-1 text-right">
                        <a class="gray-2 font-small text-shadow" href="reset_password.html">Forgot Password?</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-0 mt-4">
                    <button id="btnSubmit" type="submit" class="btn w-100">Login</button>
                </div>
            </form>     
        </div>
    </div>
    
{% endblock main %}

{% block scripts %}
    {{ parent() }}
    <script>
        $("#btnSubmit").click(function(event) {
            var form = $("#loginForm")
            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.addClass('was-validated');
        });
    </script>
{% endblock %}

